.cluster {
    display: inline-flex;
    flex-direction: column;
    gap: var(--space-inline-sm);
    align-items: center;
}

@media (min-width: 48em){
    .cluster {
        flex-direction: row;
    }
}