.grid {
    display: grid;
    align-items: center;
}

.grid--hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--space-stack-lg);
    grid-template-areas:
        "a c"
        "b b";
}

.grid--hero > :nth-child(1) { grid-area: a }
.grid--hero > :nth-child(2) { grid-area: b }
.grid--hero > :nth-child(3) { grid-area: c }

.grid--images {
    display: grid;
    gap: var(--space-inline-sm);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 48em){
    .grid--images {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: none;
        column-gap: var(--space-inline-md);
    }
}

@media (min-width: 64em){
    .grid {
        grid-template-columns: repeat(3, 1fr);
        column-gap: var(--space-stack-md);
    }

    .grid--hero {
        height: var(--space-1600);
        grid-template-columns: repeat(3, 1fr);
        column-gap: var(--space-stack-md);
        grid-template-areas:
            "a b c";
    }
}
