.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: var(--gap-cta);
}

.grid--hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--gap-hero);
    grid-template-areas:
        "a a"
        "b b";
}

.grid--hero > :nth-child(1) { grid-area: a }
.grid--hero > :nth-child(2) { grid-area: b }
.grid--hero > :nth-child(3) { grid-area: c }

.grid--images {
    display: grid;
    gap: var(--gap-images);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 48em){
    .grid--images {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: none;
        column-gap: var(--gap-images);
    }
}

@media (min-width: 64em){
    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: none;
        row-gap: none;
        column-gap: var(--gap-hero);
    }

    .grid--hero {
        min-block-size: var(--space-1600);
        grid-template-columns: repeat(3, 1fr);
        column-gap: var(--space-stack-md);
        grid-template-areas:
            "a b c";
    }
}
