.stack--hero > * + * {
    margin-block-start: var(--stack-hero-paragraphs);
}

.stack--features > * + * {
    margin-block-start: var(--stack-features-content);
}

.stack--features__titles > * + * {
    margin-block-start: var(--stack-features-titles);
}

.stack--features__content > * + * {
    margin-block-start: var(--stack-features-paragraphs);
}