@import "./primitives/colors.css";
@import "./primitives/spacing.css";
@import "./primitives/typography.css";

@import "./semantics/colors.css";
@import "./semantics/spacing.css";
@import "./semantics/typography.css";