:root {
    
    /* BRAND */
    --color-primary: var(--cyan-60);
    --color-accent: var(--purple-600);

    /* TEXT */
    --color-text-main: var(--slate-900);
    --color-text-muted: var(--slate-600);

    /* SPECIAL TEXT */
    --color-text-eyebrow: var(--cyan-600);
    --color-text-btn-primary: var(--white);
    --color-text-btn-secondary: var(--cyan-300);

    /* BUTTON BACKGROUNDS */
    --color-btn-primary-bg: var(--cyan-600);
    --color-btn-secondary-bg: var(--purple-600);
    
}