:root {
    /* HEADINGS */
    --text-heading-xl: var(--font-size-700);
    --text-heading-lg: var(--font-size-500);

    /* BODY TEXT */
    --text-body: var(--font-size-300);

    /* EYEBROW / LABEL */
    --text-eyebrow: var(--font-size-100);

    /* FONT WEIGHTS */
    --fw-heading: var(--font-weight-black);
    --fw-body: var(--font-weight-medium);

    /* LINE HEIGHT */
    --lh-heading: var(--line-height-tight);
    --lh-body: var(--line-height-normal);

    /* LETTER SPACING */
    --tracking-eyebrow: var(--tracking-wide);
}

@media (min-width: 48em){
    :root {
        /* HEADINGS */
        --text-heading-xl: var(--font-size-800);
        --text-heading-lg: var(--font-size-600);

        /* EYEBROW / LABEL */
        --text-eyebrow: var(--font-size-200);
    }

}

@media (min-width: 64em){
    :root {
        /* HEADINGS */
        --text-heading-xl: var(--font-size-900);
        --text-heading-lg: var(--font-size-700);

        /* BODY TEXT */
        --text-body: var(--font-size-400);

        /* EYEBROW / LABEL */
        --text-eyebrow: var(--font-size-300);
    }

}