.btn {
  text-decoration: none;
  color: var(--color-text-btn-primary);
  font-weight: var(--fw-heading);
  line-height: var(--lh-heading);
  padding: var(--padding-button-block) var(--padding-button-inline);
  border-radius: var(--radius-xl);
  display: inline-flex;
  border: none;
}

.btn--primary {
  background-color: var(--color-btn-primary-bg);
  gap: var(--gap-text-btn);
}

.btn--primary:hover {
  background-color: var(--color-btn-primary-hover-bg);
}

.btn--secondary {
  background-color: var(--color-btn-secondary-bg);
}

.btn--secondary:hover {
  background-color: var(--color-btn-secondary-hover-bg);
}

.btn__version {
  color: var(--color-text-btn-secondary);
}
