.cta {
  position: relative;
  background-image:
    linear-gradient(var(--color-gradient-bg), var(--color-gradient-bg)),
    var(--cta-bg-image);
  background-size: cover;
  background-position: center var(--cta-bg-focus-y);
  background-repeat: no-repeat;
  padding-block-end: var(--space-cta-block-end);
  color: var(--color-text-footer);
}

.cta__figure {
  position: absolute;
  inset-inline: 0;
  top: 0;
  transform: var(--cta-figure-offset);
}

.cta__figure .step {
  margin-inline: auto;
}

.cta__content {
  padding-block-start: var(--padding-cta-content);
}

.cta__title {
  font-size: var(--text-heading-lg);
  line-height: var(--lh-heading);
  max-inline-size: var(--cta-title-max-width);
}

.cta__text {
  font-size: var(--text-body);
  line-height: var(--lh-body);
  max-inline-size: var(--cta-text-max-width);
}

@media (min-width: 64em) {
  .cta__title {
    text-align: start;
  }

  .cta__text {
    text-align: start;
  }

  .cta__btn {
    margin-bottom: auto;
    margin-left: auto;
  }
}
