.hero {
    padding-block-start: var(--space-section-block-start);
    padding-block-end: var(--space-section-block-end);
}

.hero__media {
  overflow: hidden;
}

.hero__media .hero__image {
  width: 114%;
  max-width: none;
}

.hero__media--left .hero__image {
  transform: translateX(-6%);
}

.hero__media--right {
    display: none;
  }

.hero__title {
  font-size: var(--text-heading-xl);
  line-height: var(--lh-heading);
  font-weight: var(--fw-heading);
  max-inline-size: 10ch;
}

.hero__text {
  font-size: var(--text-body);
  color: var(--color-text-muted);
  line-height: var(--lh-body);
  max-inline-size: 29ch;
}

@media (min-width: 48em) {
  .hero__media .hero__image {
    width: 106%;
    max-block-size: var(--hero-image-size--tablet);
  }

  .hero__media--left .hero__image {
    transform: translateX(-3%);
  }

  .hero__text {
    max-inline-size: 40ch;
  }
}

@media (min-width: 64em){
  .hero__media .hero__image {
    width: 90%;
  }

  .hero__media {
    block-size: var(--hero-image-size--desktop);
  }

  .hero__image {
    inline-size: 50%;
  }

  .hero__media--right {
    display: block;
  }

  .hero__media--left .hero__image {
    transform: translateX(-8%);
  }

  .hero__media--right .hero__image {
    transform: translate(18%, 18%);
  }

  .hero__text {
    max-inline-size: 35ch;
  }

}
