:root {
  --base: 16;

  --space-50: calc(4 / var(--base) * 1rem); /* 4px */
  --space-100: calc(8 / var(--base) * 1rem); /* 8px */
  --space-200: calc(16 / var(--base) * 1rem); /* 16px */
  --space-300: calc(24 / var(--base) * 1rem); /* 24px */
  --space-400: calc(32 / var(--base) * 1rem); /* 32px */

  --space-500: calc(48 / var(--base) * 1rem); /* 48px */
  --space-700: calc(56 / var(--base) * 1rem); /* 56px */
  --space-800: calc(64 / var(--base) * 1rem); /* 64px */
  --space-900: calc(72 / var(--base) * 1rem); /* 72px */
  --space-1000: calc(80 / var(--base) * 1rem); /* 80px */
  --space-1400: calc(112 / var(--base) * 1rem); /* 112px */
}
