:root {
  /* FONT FAMILY */
  --font-family-base: "Red Hat Display", sans-serif;

  /* FONT SIZES */
  --base: 16;

  --font-size-100: calc(12 / var(--base) * 1rem);
  --font-size-200: calc(14 / var(--base) * 1rem);
  --font-size-300: calc(16 / var(--base) * 1rem);
  --font-size-400: calc(18 / var(--base) * 1rem);
  --font-size-500: calc(32 / var(--base) * 1rem);
  --font-size-600: calc(36 / var(--base) * 1rem);
  --font-size-700: calc(40 / var(--base) * 1rem);
  --font-size-800: calc(48 / var(--base) * 1rem);
  --font-size-900: calc(64 / var(--base) * 1rem);

  /* LINE HEIGHT */
  --line-height-tight: 1.1;
  --line-height-normal: 1.5;

  /* FONT WEIGHTS */
  --font-weight-medium: 500;
  --font-weight-black: 900;

  /* LETTER SPACING */
  --tracking-wide: 0.25em;
}